@{
    ViewData["Title"] = "Home Page";
}
<div class="matt-custom-block">
    <form asp-controller="Home" asp-action="GetTweets" method="post">
        <button type="submit" class="btn-primary">Get Tweets </button>
    </form>
</div>

@model TweetsViewInRangeModel
<div class="matt-custom-block">
    <form asp-controller="Home" asp-action="GetTweetsInRange" method="post">
        <div class="form-group">
            <label>Specify Date Range: </label>
            <label for="start_date">Start Date:</label>
            <input type="datetime-local" asp-for="start_date" name="startDate" />
            <label for="end_date">End Date:</label>
            <input type="datetime-local" asp-for="end_date" name="endDate" />
            <button type="submit" class="btn-success">Get Tweets</button>
        </div>
    </form>
</div>




